.ng-invalid.ng-dirty{
    border-color: mediumvioletred;
}

.ng-valid.ng-dirty{
    border-color: green;
}

.transparent{
    border: none;
    background: transparent;
}

.tablediv{
    margin: 30px;
    height: 250px;
    overflow: auto;
}

.smallform{
    width: 30%;
    margin: auto;
}

.submitbutton{
    width: 20%;
    margin: 5% 0 0 5%;

}

#delbut{
    background-color: red;
}

#editbut{
    background-color: greenyellow;
}