<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

       <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
              <property name="locations">
                     <list>
                            <value>classpath:service.properties</value>
                     </list>
              </property>
       </bean>

       <bean id="carDao" class="org.easymock.EasyMock" factory-method="createMock">
              <constructor-arg value="com.epam.brest.course2015.dao.CarDao"/>
       </bean>
       <bean id="producerDao" class="org.easymock.EasyMock" factory-method="createMock">
              <constructor-arg value="com.epam.brest.course2015.dao.ProducerDao"/>
       </bean>
       <bean id="carTransactions" class="com.epam.brest.course2015.transactions.CarTransactionsImpl">
              <property name="carDao" ref="carDao"/>
       </bean>
       <bean id="producerTransactions" class="com.epam.brest.course2015.transactions.ProducerTransactionsImpl">
              <property name="producerDao" ref="producerDao"/>
       </bean>
       <aop:aspectj-autoproxy/>
       <bean id="myLogger" class="com.epam.brest.course2015.test.MyLogger"/>
</beans>